doctype
html(itemscope,itemtype="http://schema.org/Article",ng-app="markup" debug="false")
    include _head.jade
    body(class="l-index")
        div.l-wrap 
            div.l-fb
                div.l-container        
            div.l-main
                block page_main